@import "compass/css3";
@import "partials/variables";
@import "partials/reset";
@import "partials/grid.min";
@import "partials/jquery.fullpage";

body {
	font-family: $body-font;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	box-sizing: border-box;
	background: #000;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
	font-weight: 700;
	line-height: 1;
}

main > section {
	@extend .container-fluid;
	background: $white;
	overflow: hidden;
	position: relative;
}

a.scroll {
	width: 35px;
	height: 20px;
	background: url(../images/icon-sprite.png) 0 0 no-repeat;
	overflow: hidden;
	display: block;
	margin: 0 auto;
	position: absolute;
	left: 48%;
	top: 90%;
	z-index: 100;
}

/**** HEADER ****/

header {
	background: $charcoal;
	padding: 20px 20px 20px 35px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;

	a.button {
		background: $mint;
		color: $white;
		@include border-radius(8px);
		padding: 20px;
		display: inline-block;
		float: right;
		line-height: 1;
		text-decoration: none;
		text-transform: uppercase;
	}
}

/**** HERO SECTION ****/

#hero {
	padding: 0;

	.access {
		background: url(../images/paragon-hero.jpg) top center no-repeat;
	}
	.download {
		background: url(../images/paragon_4.jpg) top center no-repeat;
	}
	.slide {
		background-size: cover;
	}

	h1 {
		font-size: 38px;
		font-weight: 700;
		color: $white;
		text-transform: uppercase;
		line-height: 1;
		position: relative;
		top: 75%;
		margin-left: 10%;
		@include text-shadow(rgba(0,0,0,.75) 2px 2px 0);
		span {
			font-size: 28px;
			color: $silver;
			font-weight: 400;
			display: block;
		}
	}

}

/**** ABOUT SECTION ****/

#about {
	background: url(../images/floating-mtns-bg.jpg) top center no-repeat $white;
	background-size: 100%;
	padding-top: 15%;
	padding-bottom: 420px;

	h1 {
		font-size: 50px;
		text-transform: uppercase;
		margin-bottom: 60px;
	}

	h2 {
		font-size :28px;
		text-transform: uppercase;
		margin-bottom: 30px;
		line-height: 1.25;
	}

	p {
		line-height: 2;
	}

	.content {
		@extend .col-md-4;
		@extend .col-md-push-2;
		padding-top: 25%;
	}

	footer {
		@extend .col-sm-12;
		text-align: center;
		position: relative;
		margin-top: 125px;

		p {
			font-size: 16px;
			text-transform: uppercase;

			em {
				color: $mint;
			}
		}
	}
}

/**** LOCATION SECTION ****/

#locations {
	background: #f4f4f4;
	padding-bottom: 500px;
	overflow: visible;

	.diagonal {
	    width: 100%;
	    height: 400px;
	    overflow: hidden;
	    position: absolute;
	    right: 0;
	    top: 0;
	    margin-top: -396px;
	    left: 0;
	}
	.diagonal:after {
	    content: "";
	    display: block;
	    width: 0;
	    height: 0;
	    border-top: 396px solid transparent;
	    border-right: 1600px solid #f4f4f4;
	}

	h1 {
		font-size: 50px;
		text-align: center;
		text-transform: uppercase;
		font-weight: 400;
		margin-bottom: 50px;
	}

	.loc-column {
		width: 18%;
		float: left;
		position: relative;
		padding: 0 6%;

		&:nth-of-type(1) {
			left: 35%;
		}

		&:nth-of-type(2) {
			right: 20%;
			padding-top: 40px;

			.loc + .loc {
				margin-top: 175px;
			}
		}

		&:nth-of-type(3) {
			left: 0%;
			padding-top: 120px;
		}

	}

	.loc {
		padding-top: 80px;
		padding-bottom: 32px;
		border-bottom: 1px solid $tundora;
		background: url(../images/icon-location.png) center top no-repeat;
		position: relative;
		margin-bottom: 125px;
		text-align: center;

		&.hq {
			margin-bottom: 80px;

			h3 {
				margin-bottom: 28px;				
			}
	
			&:after {
				border-left: 20px solid transparent;
				border-right: 20px solid transparent;
				border-bottom: 20px solid $scorpion;
				border-top: 0;
				position: absolute;
				bottom: 0;
				left: 45%;
			}
		}

		&:after {
			content: '';
			display: table;
			width: 0; 
			height: 0; 
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-top: 20px solid $scorpion;
			position: absolute;
			bottom: -20px;
			left: 45%;
		}

		h2 {
			color: $mint;
			font-size: 18px;
			text-transform: uppercase;
			font-weight: 400;
			margin-bottom: 12px;
		}

		h3 {
			font-size: 18px;
			text-transform: uppercase;
			font-weight: 400;
			line-height: 1.25;
		}

		p {
			text-align: justify;
			font-size: 15px;
			line-height: 1.75;
		}
	}
}

/**** CONTACT SECTION ****/

#contact {
	background: $charcoal;
	background-size: contain;
	color: $white;
	overflow: visible;

	.diagonal {
	    width: 100%;
	    height: 842px;
	    overflow: hidden;
	    position: absolute;
	    right: 0;
	    top: 0;
	    margin-top: -842px;
	    left: 0;
	}
	.diagonal:after {
	    content: "";
	    display: block;
	    width: 0;
	    height: 0;
	    border-top: 842px solid transparent;
	    border-left: 1600px solid $charcoal;
	}

	.sporty {
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 1;
		width: 50%;
		max-width: 660px;
	}

	h1 {
		font-size: 50px;
		font-weight: 400;
		text-transform: uppercase;
		margin-bottom: 22px;
	}

	p {
		font-size: 16px;
		line-height: 1.75;
	}

	.content {
		@extend .col-md-4;
		@extend .col-md-push-2;
		padding-bottom: 375px;
	}

}

/**** FOOTER ****/

footer.page-footer {
	@extend .container-fluid;
	background: $mineshaft;
	color: $alto;
	padding: 96px 90px 96px 120px;
	font-size: 12px;
	line-height: 2;

	img {
		float: left;
		margin-right: 40px;
	}

	li {
		display: inline-block;
		line-height: 1;
		padding-right: 5px;

		a {
			color: $mint;
			text-transform: uppercase;
			font-family: $heading-font;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		+ li {
			border-left: 1px solid $white;
			padding-left: 5px;
		}
	}
}