//// COLORS ////
$silver: #afafaf;
$charcoal: #313131;
$scorpion: #606060;
$mineshaft: #242424;
$mint: #6bae7c;
$white: #ffffff;

//// FONTS ////
$body-font: "Open Sans", Helvetica, Arial, sans-serif;
$heading-font: "Brutal Type", "Open Sans", sans-serif;