//// COLORS ////
$white: #ffffff;
$alto: #dbdbdb;
$silver: #afafaf;
$scorpion: #606060;
$charcoal: #313131;
$mineshaft: #242424;
$mint: #6bae7c;

//// FONTS ////
$body-font: "Open Sans", Helvetica, Arial, sans-serif;
$heading-font: "Brutal Type", "Open Sans", sans-serif;